In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)
# impot dan versi pandas

1.2.4
1.20.1

In [4]:
n_rows = 365 * 24
n_cols = 2
cols = ['col1', 'col2']

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)),
                 columns=cols)

df.index = pd.util.testing.makeDateIndex(n_rows, freq='F')
df

# disini kita membuat data deret waktu yang dibentuk dalam 2 kolom
# membuat data frame dalam bentuk integer randam dengan batasan 1-20 
# mengunakan index deret waktu

NameError: name 'pd' is not defined

In [3]:
df.resample('M')['col1'].sum().to_frame()
#proses pengelompokan ulang data berdasarkan interval waktu tertentu berdasarkan bulan dan mengunakan to_frame agar lebih rapi

            col1
2000-01-31  7175
2000-02-29  6806
2000-03-31  7600
2000-04-30  7336
2000-05-31  7451
2000-06-30  7002
2000-07-31  7590
2000-08-31  7557
2000-09-30  7178
2000-10-31  7381
2000-11-30  7109
2000-12-31  7655

In [4]:
df.resample('D')['col1'].sum().to_frame()
#proses pengelompokan ulang data berdasarkan interval waktu tertentu berdasarkan hari

            col1
2000-01-01   186
2000-01-02   216
2000-01-03   197
2000-01-04   230
2000-01-05   230
...          ...
2000-12-26   287
2000-12-27   263
2000-12-28   204
2000-12-29   222
2000-12-30   222

[365 rows x 1 columns]